:root {
    --salmon: #FAAA8D;
    --off-white: #FEEFDD;
    --dark-green: #313715;
    --atomic-tangerine: #F49D6E;
    --peach-puff: #F5D6BA;
    --laurel-green: #ACC3A6;
    --space-cadet: #2C2C54;
    --amaranth-purple: #A40E4C;
    background-color: var(--salmon);

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--space-cadet);
}

nav a {
    color: var(--peach-puff);
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--space-cadet)
}

table {
    margin: 2rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: var(--space-cadet);
}

th {
    padding: 0.5rem 0.25rem;
    border:solid 1px #2C2C54;
    background-color: #2C2C54;
    color:#F5D6BA;
}


table .label {
    padding: 0.5rem 0.25rem;
    border:solid 1px #2C2C54;
    background-color: #2C2C54;
}

table td {
    padding: 1rem;
    margin: 1rem;
}

table tfoot {
    background-color: rgba(254, 239, 221, 25%);
    font-weight: 700;
}

table tr.x-axis:nth-of-type(odd) {
    background-color: rgba(255, 14, 86, 35%);
}

table tr.x-axis:nth-of-type(even) {
    background-color: rgba(255, 14, 86, 20%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
    color: var(--peach-puff)
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--dark-green);
}



/* need to create ruleset to specify font for sales data */