/* global style  */

:root {
    --salmon: #FAAA8D;
    --off-white: #FEEFDD;
    --dark-green: #313715;
    --atomic-tangerine: #F49D6E;
    --peach-puff: #F5D6BA;
    --laurel-green: #ACC3A6;
    --space-cadet: #2C2C54;
    --amaranth-purple: #A40E4C;
    --light-purple: rgba(155, 129, 216, 0.514);
    background-color: var(--salmon);
}

html {
    font-size: 18px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
    color: var(--peach-puff)
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--dark-green);
}

.flex {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--space-cadet)
}

/* nav bar style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--space-cadet);
}

nav #navlinks a {
    color: var(--peach-puff);
    text-decoration: none;
    background-color: rgba(155, 129, 216, 0.514);
    font-size: 1vw;
    padding: 1rem 1rem;
    margin: 0 0.25rem;
    border-radius: 5px;
}

.sticky {
    position: fixed;
    width: 100%;
    max-height: 10%;
    top: 0;
}

.logo-nav {
    width: 15%;
    height: 15%;
    justify-self: center;
}

.logo-nav img {
    width: 100%;
    height: 100%;
}

nav h1 {
    width: 30%;
    font-size: 3vw;
}

#navlinks {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

/* main style  */

main {
    min-height: 96.3vh;
}

#hero-bg {
    /* background-image: url(../img/salmon.png); */
    background-size: 15%;
    background-repeat: repeat;
    overflow: hidden;
    height: 700px;
    margin: 5rem;
    margin-top: 10rem;
    z-index: -1;
}

#hero-container {
    background-color: rgba(164, 14, 76, 40%);
    width: 100%;
    height: 100%;
} 

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    text-align: center;
}

#hero h1 {
    font-size: 7rem;
}

#about {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
}

#about img {
    position: auto;
    align-self: center;
    width: 35%;
    height: 35%;
}

#about p {
    margin: 1rem 1.25rem;
    text-indent: 2rem;
}

#started, #first-cookie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
}

#started p, #first-cookie p {
    margin: 1rem 1.25rem;
    text-indent: 2rem;
}

#cookie-imgs img{
    width: 275px;
    height: 175px;
    object-fit: cover;
}


#locations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.locboximg {
    width: 20%;
    height: 300px;
    margin: 2rem 0.5rem;
    border-radius: 5px 5px 0 0;
}

.locboxtxt {
    text-align: center;
    position: relative;
    top: 95%;
    width: 100%;
    height: auto;
    background-color: #2C2C54;
}

#locations #seattle {
    background-image: url('../img/seattle-day.jpg');
    background-size: cover;
    background-position: center center;
}

#locations #tokyo {
    background-image: url('../img/tokyo-day.jpeg');
    background-size: cover;
    background-position: center center;
}

#locations #dubai {
    background-image: url('../img/dubai-day.jpg');
    background-size: cover;
    background-position: center center;
}

#locations #paris {
    background-image: url('../img/paris-day.jpg');
    background-size: cover;
    background-position: center center;
}

#locations #lima {
    background-image: url('../img/lima-day.jpg');
    background-size: cover;
    background-position: center center;
}

.header-banner {
    text-align: center;
    background-color: #2C2C54;
    margin: 2rem;
    padding: 1.25rem 1rem;
}

/* footer style  */

footer {
    display: flex;
    justify-content: center;
}

/* table style  */

#sales {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
}

table {
    margin: 2rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: var(--space-cadet);
    border-spacing: 2px;
    border-collapse: separate;
}

th {
    padding: 0.5rem 0.25rem;
    background-color: #2C2C54;
    color:#F5D6BA;
    text-align: center;
    vertical-align: middle;
}


table .label {
    padding: 0.5rem 0.25rem;
    background-color: #2C2C54;
}

table td {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

table tfoot {
    background-color: rgba(254, 239, 221, 25%);
    font-weight: 700;
}

table tr.x-axis:nth-of-type(odd) {
    background-color: rgba(255, 14, 86, 35%);
}

table tr.x-axis:nth-of-type(even) {
    background-color: rgba(255, 14, 86, 20%);
}

/* add new store form style  */

legend {
    width: 20%;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

fieldset {
    border: solid 1px var(--space-cadet);
    margin: 2rem;
    padding: 2rem;
    width: 1200px;
}

fieldset input{
}

fieldset button {
    background-color: #2C2C54;
    border: solid 2px rgba(138, 130, 255, 0.8);
}

footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    background-color: var(--off-white);
    z-index: 2;
}